        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav0">
                        <li>
                            <a routerLink="/dashbors" routerLinkActive="active" class=" waves-effect"><i class="fa fa-dashboard m-r-10" aria-hidden="true"></i>Dashboard</a>
                        </li>
                        <li>
                            <a routerLink="/ProductionReport" routerLinkActive="active"  class="waves-effect"><i class="fa  fa-bar-chart-o m-r-10" aria-hidden="true"></i>Production Report</a>
                        </li>
                        <li>
                            <a routerLink="/TimeAnalysis" routerLinkActive="active"  class="waves-effect"><i class="fa  fa-clock-o m-r-10" aria-hidden="true"></i>Time Analysis</a>
                        </li>
                        <li>
                            <a routerLink="/ErrorsAnalysis" routerLinkActive="active"  class="waves-effect"><i class="fa  fa-bug m-r-10" aria-hidden="true"></i>Errors Analysis</a>
                        </li>
                        <li>
                            <a routerLink="/RemoteControl" routerLinkActive="active"  class="waves-effect"><i class="fa  fa-gamepad m-r-10" aria-hidden="true"></i>Remote Control</a>
                        </li>
                        <li>
                            <a routerLink="/Setting" routerLinkActive="active"  class="waves-effect"><i class="fa  fa-cog m-r-10" aria-hidden="true"></i>Settings</a>
                        </li>
                       
                    </ul>
                   
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->